* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbarsup {
    text-align: center;
    padding: 20px;
    font-size: 27px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgba(223, 220, 220, 0.91);
  }
  
  .subnavbar {
    display: flex;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgba(0, 0, 0, 0.41);
    height: 50px;
    justify-content: center;
  }
  
  .subnavbar li {
    float: left;
    padding: 0px 60px;
  }
  
  .subnavbar li a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnavbar ul {
    list-style-type: none;
    margin-right: 70px;
    margin-left: 10px;
  }
  
  #botaofinal {
    grid-area: final;
    background-color: rgba(217, 217, 217, 1);
    text-align: center;
    padding: 12px;
    }
    #botaofinal a{
     text-decoration: none;
     color: black;
     text-align: center;
     
    }

    #botaoadd{
        grid-area: adicionar;
        background-color: rgba(217, 217, 217, 1);
        text-align: center;
        padding: 12px;
        }
        #botaoadd a{
        text-decoration: none;
        color: black;
        }

        #botaoadd1{
            grid-area: adicionar;
            background-color: rgba(217, 217, 217, 1);
            text-align: center;
            padding: 12px;
            margin-left:"100px";
            }
           

.footer{
    height: 100px;
    text-align: center;
}
.footer p{
    padding: 40px;
}
.lupa {
    height: 20px;
    width: 30px;
    /* margin-left: 1135px;
    margin-bottom: 0px;
    margin-top: 0px; */
    position: fixed;
    top: 25px;
    right: 300px;
 }
 .class{
    height: 20px;
    width: 20px;
    margin-left: 1100px;
    margin-bottom: 0px;
    margin-top: 0px;
 }  

 .perfil{
    height: 20px;
    width: 20px;
    /* margin-left: 1135px;
    margin-bottom: 0px;
    margin-top: 0px; */
    position: fixed;
    top: 25px;
    right: 220px;
 }

 .sacola{
    height: 20px;
    width: 30px;
    /* margin-left: 1135px;
    margin-bottom: 0px;
    margin-top: 0px; */
    position: fixed;
    top: 25px;
    right: 260px;
 }

 .container {
    position: relative;
    width: 500px;
    height: 300px;
    top: 20px;
    right: 0;
  }


  
  #botaofinal a {
    text-decoration: none;
    color: black;
    text-align: center;
  }
  
  .lupa {
    height: 20px;
    width: 30px;
    /* margin-left: 1135px;
    margin-bottom: 0px;
    margin-top: 0px; */
    position: fixed;
    top: 25px;
    right: 300px;
  }
  
  .class {
    height: 20px;
    width: 20px;
    margin-left: 1100px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .perfil {
    height: 20px;
    width: 20px;
    /* margin-left: 1135px;
    margin-bottom: 0px;
    margin-top: 0px; */
    position: fixed;
    top: 25px;
    right: 220px;
  }
  
  .sacola {
    height: 20px;
    width: 30px;
    /* margin-left: 1135px;
    margin-bottom: 0px;
    margin-top: 0px; */
    position: fixed;
    top: 25px;
    right: 260px;
  }
  
  .container {
    position: relative;
    width: 500px;
    height: 300px;
    top: 20px;
    right: 0;
  }
  
  #botaoadd {
    grid-area: adicionar;
    background-color: rgba(217, 217, 217, 1);
    text-align: center;
    padding: 12px;
  }
  
  #botaoadd a {
    text-decoration: none;
    color: black;
  }
  
  #botaoadd1 {
    grid-area: adicionar;
    background-color: rgba(217, 217, 217, 1);
    text-align: center;
    padding: 12px;
    margin-left: 100px;
  }
  
  footer {
    height: 100px;
    text-align: center;
  }
  
  footer p {
    padding: 40px;
  }
  
  