*{
margin: 0;
padding:0;
box-sizing: border-box;
}
.navbarsup{
text-align: center;
padding: 20px;
font-size: 27px;
border-style: solid;
border-width: 0px 0px 2px 0px;
border-color: rgba(223, 220, 220, 0.91); 
}
.subnavbar{
display: flex;
border-style: solid;
border-width: 0px 0px 2px 0px;
border-color: rgba(0, 0, 0, 0.41);
height: 50px;
justify-content: center;
}
 .subnavbar li{
float: left;
padding: 0px 40px;
} 
.subnavbar li a{
display: block;
color: black;
text-decoration: none;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.subnavbar ul{
list-style-type: none;
margin-right: 70px;
margin-left: 10px;
}
section{
    background-color: rgba(244, 244, 244, 1);
}
.Banner{
    margin: 100px;
    margin-top: 100px;
    margin-left: 70px;
    height: 200px;
    width: 1120px;
    float: left;
}
.Produto1{
    margin: 100px;
    margin-top: 90px;
    margin-left: 70px;
    height: 250px;
    width: 250px; 
    background-color: rgb(180, 180, 180);
    float: left;
}
.Produto2{
    margin: 100px;
    margin-top: 90px;
    margin-left: 70px;
    height: 250px;
    width: 250px;
    background-color: rgb(180, 180, 180);
    float: left;
}
.Produto3{
    margin: 100px;
    margin-top: 90px;
    margin-left: 70px;
    height: 250px;
    width: 250px;
    background-color: rgba(180, 180, 180);
    float: left;
}
.Produto4{
    margin: 100px;
    margin-top: 90px;
    margin-left: 70px;
    height: 250px;
    width: 250px;
    background-color: rgb(180, 180, 180);
    float: left;
}
.Produto5{
    margin: 100px;
    margin-top: 90px;
    margin-left: 70px;
    height: 250px;
    width: 250px;
    background-color: rgb(180, 180, 180);
    float: left;
}
.Produto6{
    margin: 100px;
    margin-top: 90px;
    margin-left: 70px;
    height: 250px;
    width: 250px;
    background-color: rgb(180, 180, 180);
    float: left;
}
.Produto7{
    margin: 100px;
    margin-top: 90px;
    margin-left: 70px;
    height: 250px;
    width: 250px;
    background-color: rgb(180, 180, 180);
    float: left;
}
.Produto8{
    margin: 100px;
    margin-top: 90px;
    margin-left: 70px;
    height: 250px;
    width: 250px;
    background-color: rgb(180, 180, 180);
    float: left;
}
.Produto9{
    margin: 100px;
    margin-top: 90px;
    margin-left: 70px;
    height: 250px;
    width: 250px;
    background-color: rgb(180, 180, 180);
    float: left;
}
.Produto10{
    margin: 100px;
    margin-top: 90px;
    margin-left: 70px;
    height: 250px;
    width: 250px;
    background-color: rgb(180, 180, 180);
    float: left;
}
.Produto11{
    margin: 100px;
    margin-top: 90px;
    margin-left: 70px;
    height: 250px;
    width: 250px;
    background-color: rgb(180, 180, 180);
    float: left;
}
.Produto12{
    margin: 100px;
    margin-top: 90px;
    margin-left: 70px;
    height: 250px;
    width: 250px;
    background-color: rgb(180, 180, 180);
    float: left;
}
.Produto13{
    margin: 100px;
    margin-top: 90px;
    margin-left: 70px;
    height: 250px;
    width: 250px;
    background-color: rgb(180, 180, 180);
    float: left;
}
.VerMais1{
    border-radius: 20px;
    background-color: black;
    margin: 30px;
    margin-top: 20px;
    margin-left: 25px;
    height: 30px;
    width: 75px;
    background-color: rgb(180, 180, 180);
    align-items: center;
    text-align: center;
}
.VerMais2{
    border-radius: 20px;
    background-color: black;
    margin: 30px;
    margin-top: 20px;
    margin-left: 25px;
    height: 30px;
    width: 75px;
    background-color: rgb(180, 180, 180);
    align-items: center;
    text-align: center;
}
.VerMais3{
    border-radius: 20px;
    background-color: black;
    margin: 30px;
    margin-top: 20px;
    margin-left: 25px;
    height: 30px;
    width: 75px;
    background-color: rgb(180, 180, 180);
    align-items: center;
    text-align: center;
}
.VerMais4{
    border-radius: 20px;
    background-color: black;
    margin: 30px;
    margin-top: 20px;
    margin-left: 25px;
    height: 30px;
    width: 75px;
    background-color: rgb(180, 180, 180);
    align-items: center;
    text-align: center;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
    .page-title     {
    text-align: center;
    padding: 20px;
    font-size: 27px;
}
    .subnavbar{
    display: flex;
    height: 50px;
    justify-content: center;
}
     .navbar li{
    float: left;
    padding: 0px 60px;
} 
    .navbar li a{
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    .navbar ul{
    list-style-type: none;
    margin-right: 70px;
    margin-left: 70px;
}
    .sobre{
    text-align: center;  
    line-height: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.concluir{
    margin-left: 50px;
}


.lupa {
    height: 20px;
    width: 30px;
    margin-left: 1135px;
    margin-bottom: 0px;
    margin-top: 0px;
    position: absolute;
    top: 25px;
    right: 300px;
 }
 .class{
    height: 20px;
    width: 20px;
    margin-left: 1100px;
    margin-bottom: 0px;
    margin-top: 0px;
 }  

 .perfil{
    height: 20px;
    width: 20px;
    margin-left: 1135px;
    margin-bottom: 0px;
    margin-top: 0px; 
    position: absolute;
    top: 25px;
    right: 220px;
 }

 .sacola{
    height: 20px;
    width: 30px;
    margin-left: 1135px;
    margin-bottom: 0px;
    margin-top: 0px;
    position: absolute;
    top: 25px;
    right: 260px;
 }

 .container {
    position:fixed;
    width: 500px;
    height: 300px;
    top: 20px;
    right: 0;
